@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
    --bg-color: #000;
    --first-color: #ccc;
    --second-color: #999;
    --third-color: #ccc;
}
* {
    caret-color: var(--third-color);
}
.first {color:  var(--first-color)}
.second {color:  var(--second-color)}
.third {color:  var(--third-color)}
body {
    background-color: var(--bg-color);
    color:  var(--first-color);
    font-size: 12px;
    line-height: 16px;
    font-family: Consolas;
    margin: 24px;
}
input {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    border-style: none;
}
input:focus {
    outline: none;
}
a {
    color: var(--first-color);
}
.cmd {
    transition-duration: .25s;
    color: var(--first-color);
    position: fixed;
    right: 24px;
    top: 24px;
}
.cmd:hover {
    color: var(--second-color);
    cursor: pointer;
}
.upld {
    transition-duration: .25s;
    color: var(--first-color);
    position: fixed;
    right: 24px;
    top: 60px;
}
.upld:hover {
    color: var(--second-color);
    cursor: pointer;
}
.btn {
    text-decoration: underline;
}
.btn:hover {
    cursor: pointer;
}
.psw {
    color: var(--bg-color);
    -webkit-text-security:disc;
}
.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.modal {
    background-color: inherit;
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    display: grid;
    gap: 12px;
}
.modal .one {
    text-align: center;
    grid-column: 1;
}
.modal .two {
    grid-column: 2
}
.modal .one div {
    padding-top: 48px;
}
.user {
    color: var(--second-color)
}
summary {
    list-style: none;
}
summary:focus {
  outline: none;
}
summary::-webkit-details-marker {
  display: none;
}

#scrollbar::-webkit-scrollbar-track
{
	background-color:var(--bg-color)
}

#scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color:var(--third-color)
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color:var(--third-color)
}
